<!-- Demonstration of how to build reusable components. Lets set the bounding divs and structure in the template, and only call the data here. -->

<!-- only pull heading component if heading data exists -->
<% if iframe.heading %>
	<div class="slp-col-span-full slp-relative">
	  <div class="slp-max-w-prose">
	    <%= partial "includes/cms/event/slp-heading", locals: { heading: iframe.heading, icon: iframe.icon }  %>
	  </div>
	</div>
<% end %>
<p
 class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-max-w-3xl slp-mb-16"
 >
  <%= iframe.subheading %>
</p>
<% if iframe.iframe %>
	<!-- print out the iframe code -->
	<%= kramdown(iframe.iframe.code) %>
<% end %>

<!-- If not iframe code, lets print an image -->
<% if iframe.image %>
  <img src="<%=iframe.image %>" alt="<%=iframe.image %>" />
<% end %>
