---
layout: value-driver
title: "GitOps: The Future of Infrastructure Automation"
description: A live panel discussion with Weaveworks, HashiCorp, Red Hat, and GitLab.
twitter_image: '/images/opengraph/iac-gitops.png'
canonical_path: "/why/gitops-infrastructure-automation/"
suppress_header: true
extra_css:
  - value-driver-6595-control.css
  - comparison-page.css
  - form-to-resource.css
  - just-commit-6595-control.css
destination_url: "https://learn.gitlab.com/c/gitops-panel?x=H2TMk5&lb_email="
form_id: "2076"
form_type: "resources"
cta_title: "Free webcast:<br>GitOps: The Future of Infrastructure Automation"
cta_date:
cta_subtitle:
link_text: "Thank you for your interest in our webcast! Click here to watch it"
success_message: "We will also send the link to the webcast in an email."
---
%div#experiment6595.experiment-outer-wrapper
  %span.loading-experiment
  %div.experiment-container.experiment-control
    .wrapper.gitlab-ee-page
      .header-hero-banner.header-hero-banner--reduce-cycle{style: 'background-image:url(/images/gitops-use-case-landing-page-header.png)'}
        .container
          .row
            .col-md-12
              %h1.jumbo-heading GitOps:<br> The Future of Infrastructure Automation
              %h3 A panel discussion with Weaveworks, HashiCorp, Red Hat, and GitLab.

      .sub-wrapper.main-content
        .container
          .row
            .col-md-7
              .just-commit-intro-text
                %p With the demands made on today's infrastructure, it's crucial for organizations to implement infrastructure automation that is repeatable, traceable, and less prone to human error. GitOps takes DevOps best practices used for application development, such as version control, collaboration, compliance, and CI/CD, and applies them to modern infrastructure automation.
                %p Watch this panel discussion where we asked tech leaders what teams need to make the shift to GitOps, and the benefits of managing infrastructure using GitOps. 
            .col-md-5
              .just-commit-form-wrap
                = partial "includes/form-to-resource"

      .just-commit-highlight-row
        .container
          .row
            .col-md-5
              %h3 What you will learn
              %ul.checkmark-list
                %li How GitOps is changing the landscape of infrastructure management
                %li What successful GitOps looks like  
                %li What teams need to get started on  their GitOps journey
              %h3 Speakers
              %ul.speaker-list

                %ul
                  %li.speaker-image
                    = image_tag "/images/webcast/sized/cornelia-davis.jpg"
                  %li.speaker-name
                    Cornelia Davis
                  %li.speaker-title
                    CTO
                  %li.speaker-company
                    Weaveworks

                %ul
                  %li.speaker-image
                    = image_tag "/images/webcast/sized/timothy-appnel.jpg"
                  %li.speaker-name
                    Timothy Appnel
                  %li.speaker-title
                    Senior Principal Product Manager
                  %li.speaker-company
                    Red Hat Ansible

                %ul
                  %li.speaker-image
                    = image_tag "/images/webcast/sized/ray-ploski.jpg"
                  %li.speaker-name
                    Ray Ploski
                  %li.speaker-title
                    Field CTO
                  %li.company
                    HashiCorp

                %ul
                  %li.speaker-image
                    = image_tag "/images/webcast/sized/brendan-oleary.jpg"
                  %li.speaker-name
                    Brendan O’Leary
                  %li.speaker-title
                    Sr. Developer Evangelist
                  %li.speaker-company
                    GitLab

                %ul
                  %li.speaker-image
                    = image_tag "/images/webcast/sized/william-chia.jpg"
                  %li.speaker-moderator
                    Moderator
                  %li.speaker-name
                    William Chia
                  %li.speaker-title
                    Sr. Product Marketing Manager
                  %li.speaker-company
                    GitLab

:css
  body {
    background: #ffffff;
  }

  .footer {
    margin-top: 0;
  }
