<table>
  <thead>
    <tr>
      <th style="width:40%">Feature</th>
      <th style="text-align:center">GitLab.com</th>
      <th style="text-align:center">Omnibus GitLab</th>
      <th style="text-align:center">GitLab Chart</th>
      <th style="text-align:center">Source</th>
      <th style="text-align:center">GDK</th>
    </tr>
  </thead>
  <tbody>
    <% features.each do |feature| %>
      <tr>
        <td><p>
          <% if feature.link %>
            <a href="<%= feature.link %>" target="_blank">
              <strong><%= feature.title %></strong>
            </a>
          <% else %>
            <strong><%= feature.title %></strong>
          <% end %>
          <% if feature.works_by_default.note %>
            <br>
            <%= feature.works_by_default.note %>
          <% end %>
        </p></td>
        <%= partial("includes/works_by_default_symbol.html.erb",
                    locals: { status: feature.works_by_default.gitlab_com, fallback: feature.works_by_default.all }) %>
        <%= partial("includes/works_by_default_symbol.html.erb",
                    locals: { status: feature.works_by_default.omnibus, fallback: feature.works_by_default.all }) %>
        <%= partial("includes/works_by_default_symbol.html.erb",
                    locals: { status: feature.works_by_default.chart, fallback: feature.works_by_default.all }) %>
        <%= partial("includes/works_by_default_symbol.html.erb",
                    locals: { status: feature.works_by_default.source, fallback: feature.works_by_default.all }) %>
        <%= partial("includes/works_by_default_symbol.html.erb",
                    locals: { status: feature.works_by_default.gdk, fallback: feature.works_by_default.all }) %>
      </tr>
    <% end %>
  </tbody>
</table>
