.operations-satellite
  = image_tag "/images/dev-survey-2019/operations-satellite-circle.svg"
  .operations-satellite-body
    = image_tag "/images/dev-survey-2019/operations-satellite-body.svg"

.operations-satellite.vertical
  = image_tag "/images/dev-survey-2019/operations-satellite-circle.svg"
  .operations-satellite-body
    = image_tag "/images/dev-survey-2019/operations-satellite-body.svg"

= image_tag "/images/dev-survey-2019/operations-planet.svg", class: "operations-planet"
= image_tag "/images/dev-survey-2019/planet-bars.svg", class: "operations-planet-bars"
