<section class="body-image slp-commit-grid slp-relative slp-pt-48 slp-mb-64">   
  <% if content.heading %>
  <div class="slp-col-span-full slp-mb-32">
    <div class="slp-relative slp-text-center slp-max-w-7xl slp-mb-16 slp-mx-auto">
      <% if content.heading %>
        <h3
          class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-col-span-full"
        >
          <%= content.heading %>
        </h3>
      <% end %>
      <% if content.subtitle %>
        <p
          class="slp-font-normal slp-text-grayscale-333 slp-text-xl slp-mb-16 slp-leading-tight"
        >
          <%= content.subtitle %>
        </p>
      <% end %>
      <% if content.body_copy %>
        <div
          class="slp-prose slp-font-normal slp-text-grayscale-333 slp-text-xl slp-mb-16 slp-leading-tight"
        >
            <%= kramdown(content.body_copy) %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% content.sections.each do |section| %>
    <% if section.type == 'image-left' %>
    <div class="slp-col-span-full slp-mb-64">
      <div class="slp-mt-16">
        <div class="image-left slp-px-16">
          <img 
            alt="<%= section.image %>"
            src="<%= section.image %>"
            class="slp-w-full"
          />
        </div>
        <div class="copy-right slp-px-16">
          <p
            class="slp-font-normal slp-text-grayscale-333 slp-text-xxl slp-mb-16 slp-leading-tight"
          >
            <%= section.heading %>
          </p>
          <div
            class="slp-prose slp-text-base slp-leading-normal"
          > 
            <%= kramdown(section.body) %>
          </div>
      </div>
      </div>
    </div>
    <% else %> 
      <div class="slp-col-span-full  slp-mb-64">
        <div class="slp-mt-16">
          <div class="copy-left slp-px-16">
            <p
              class="slp-font-normal slp-text-grayscale-333 slp-text-xxl slp-mb-16 slp-leading-tight"
            >
              <%= section.heading %>
            </p>
            <div
              class="slp-prose slp-text-base slp-leading-normal"
            > 
              <%= kramdown(section.body) %>
            </div>
          </div>
          <div class="image-right slp-px-16">
            <img
              alt="<%= section.image %>"
              src="<%= section.image %>"
              class="slp-w-full"
            />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>