<section
  class="slpEventList slp-commit-grid slp-px-16 slp-container slp-mx-auto lg:slp-px-60" 
>
  <!-- form block header -->
  <div class="slp-col-span-full slp-mb-32">
    <div class="slp-relative slp-text-center slp-max-w-7xl slp-mb-16 slp-mx-auto">
      <!-- hardcoded anchor link -->
      <h3 
        id="current-contact" 
        class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-col-span-full"
      >
        <%= markto.heading %>
        <a href="#current-contact" class="header-link-anchor"></a>
      </h3>
      <p
        class="slp-font-normal slp-text-grayscale-333 slp-text-xl slp-mb-16 slp-leading-tight"
      >
        <%= markto.subheading %>
      </p>
    </div>
  </div>

  <!-- markdown  body -->
  <div class="slp-col-span-full md:slp-col-span-6">
    <% if markto.alert %>
      <div class="slpAlert slp-inline-block slp-rounded-md slp-bg-status-primary slp-p-10 slp-mt-12 slp-mb-12"> 
        <%= kramdown(markto.alert) %>
      </div>
    <% end %>
    <div class="slp-prose slp-max-w-none slp-text-grayscale-333 slp-text-base slp-leading-normal slp-mb-32 slp-px-16 lg:slp-px-60"> 
      <%= kramdown(markto.body) %>
    </div>
  </div>

  <!-- code that generates form - update form id in yml, for example this one is id=mktoForm_1411 -->
  <div class="slp-col-span-full md:slp-col-span-6"> 
    <%= partial "includes/cms/reusable-blocks/mkto-form", locals: { form: markto.form } %>
  </div>
</section>