- if articles
  .wrapper.related
    %h2.u-margin-bottom-md.text-center
      More Posts Like This:
    .grid-layout.grid-layout3
      - articles.each do | article |
        %a.tile-resource.grid-item{ href: "#{article.url}" }
          - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'
          .tile-background-container{ style: "background-image: url('#{image_title}');" }
          .tile-info
            %h4.tile-title
              = article.title
            %p.tile-description
              = article.data.description
            %p.tile-link
              Learn more
              %i.fas.fa-arrow-right
      - if releases
        - releases.each do | release |
          %a.tile-resource.grid-item{ href: "#{release.url}" }
            - image_title = release.data.image_title ? release.data.image_title : '/images/default-blog-image.png'
            .tile-background-container{ style: "background-image: url('#{image_title}');" }
            .tile-info
              %h4.tile-title
                = release.title
              %p.tile-description
                = release.data.description
              %p.tile-link
                Learn more
                %i.fas.fa-arrow-right