<section>
  <% event.announcement.each do | announcement | %>
  <div
    class="slpEventAnnoucement slp-relative slp-commit-grid slp-mb-64 md:slp-mb-160"
  >
    <div
      class="slpEventAnnoucement__content slp-bg-white slp-rounded-lg slp-border slp-border-solid slp-border-grayscale-c3 slp-p-32 slp-grid slp-col-span-full md:slp-col-span-10 md:slp-grid-cols-10 slp-gap-6"
    >
      <h4
        class="slpEventAnnoucement__title slp-text-xxl slp-leading-tight slp-font-normal slp-mb-20 slp-text-grayscale-333 slp-col-start-1 md:slp-col-span-3 slp-col-span-full"
      >
        <%= announcement.title %>
      </h4>
      <p
        class="slpEventAnnoucement__body sm:slp-block slp-text-base slp-font-normal slp-text-grayscale-333 slp-col-start-4 md:slp-col-span-7 slp-col-span-full"
      >
        <%= announcement.body %>
        <span>
          <a href="<%= announcement.link_url %>" class="slp-text-ui-secondary-dark slp-underline">
            <%= announcement.link_text %>
          </a>
        </span>
        <span>
          <%= announcement.body_after_link %>
        </span>
      </p>
    </div>
    <div
      class="slpEventAnnoucement__shadow slp-rounded-lg slp-h-full slp-bg-ui-secondary-dark slp-opacity-10 slp-absolute slp-top-9 slp-left-9 slp--z-1 md:slp-col-span-10"
    ></div>
  </div>
  <% end %>  
</section>