<section class="slpEventConnect slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
   <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-10 slp-mb-64" />

   <% if event.connect.heading %>
      <div class="slp-col-span-full slp-relative">
        <div class="slp-max-w-prose">
          <%= partial "includes/cms/event/slp-heading", locals: { heading: event.connect.heading, icon: event.connect.icon }  %>
        </div>
      </div>
   <% end %>   
   <div class="slp-col-span-full md:slp-col-span-5">
      <p class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-max-w-3xl">
         <%= event.connect.subheading %> 
      </p>
   </div>
   <div class="slp-col-span-full md:slp-col-span-5">
      <div class="slp-font-normal slp-text-base slp-text-grayscale-333 slp-leading-tight slp-max-w-3xl slp-mb-32">
         <%= kramdown(event.connect.body) %>
      </div>
      <!-- Slippers Form, but we're using a Marketo embed form instead 
      <div class="slp-flex slp-flex-wrap slp-justify-between slp-items-center">
         <div class="slp-relative slp-min-w-full sm:slp-min-w-min slp-w-3/4">
            <div class="slp-form-field">
               <label for="input" class="slp-text-black slp-text-base">
                 <%= event.connect.inputLabel %>
               </label>
               <input type="email" id="input" name="input" placeholder="Your email" class="slp-w-full slp-border-2 slp-border-solid slp-border-black slp-text-grayscale-gray2 slp-text-xs slp-block slp-rounded-lg slp-mt-4 slp-p-12 slp-outline-none">
            </div>
         </div>
         <a href="<%= event.connect.buttonLink %>" class="slp-min-w-full sm:slp-min-w-min slp-btn slp-btn--secondary">
            <%= event.connect.buttonText %>   
         </a>
      </div>
      <div>
         <div class="slp-checkbox">
            <input type="checkbox" id="checkbox1" name="checkbox" value="checkbox1" class="slp-hidden">
            <label for="checkbox1" class="slp-text-black slp-text-base">
               <%= event.connect.checkboxLabel %>
            </label>
         </div>
      </div>
      -->
      <%= partial "includes/cms/reusable-blocks/mkto-form", locals: { form: event.connect.form } %>
      <style>
        /*<![CDATA[*/
          .mktoForm {
            margin: 0 auto;
            max-width: 560px;
            position: relative;
            width: 100%;
          }
          
          .mktoForm .email .mktoField {
            width: calc(100% - 87px);
          }

          .mktoForm input {
            border-radius: 3px !important;
            border: 1px solid #ddd !important;
            font-size: 16px !important;
            padding: 8px 12px !important;
            background-color: #fff !important;
          }
          
          .mktoForm .mktoCheckboxList {
            margin-left: 0px!important;
          }

          .mktoForm .mktoCheckboxList  input{
            margin-right:8px!important;
          }

          .mktoButtonRow .mktoButtonWrap button {
            background-color: #e65328;
            font-size: 0;
            line-height: inherit;
            min-width: inherit;
            padding: 9px 18px;
            position: absolute;
            right: 0;
            top: 0;
          }
          
          .mktoButtonRow .mktoButtonWrap button:active,
          .mktoButtonRow .mktoButtonWrap button:focus,
          .mktoButtonRow .mktoButtonWrap button:hover {
            background-color: #c93d2b;
          }
          
          .mktoButton:after {
            content: "Join us";
            font-size: 16px;
          }
          
          .thanks-subscribing {
            border-top: 1px solid #cccccc;
            padding-top: 5px;
          }
        /*]]>*/
      </style>
   </div>
   <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-10" />
</section>
