<div data-vue-target="true">
	  <!-- The ctaLink and ctaText data is not getting passed to the slippers event navation component -->
    <slp-event-navigation 
        brand-link="<%= navigation.brand_link %>"
        cta-link="<%= navigation.cta_link %>"
        cta-text="<%= navigation.cta_text %>"
        date="<%= navigation.date %>"
        location="<%= navigation.location %>"
        :links='<%= navigation.links.to_json %>'
        :sensitivity="0.4"
    />
</div>