<section class="slp-commit-grid slp-relative slp-mb-64 md:slp-mb-80">
  <div class="slp-col-span-10">
    <div class="slp-col-span-full slp-relative">
      <div class="slp-max-w-prose">
        <%= partial "includes/cms/event/slp-heading", locals: { heading: event.cta_3up.heading, icon: event.cta_3up.icon }  %>
      </div>
    </div>
    <div class="sm:slp-flex sm:slp-justify-between slp-overflow-x-auto">
      <% event.cta_3up.cards.each do | cta | %>
      <!-- All of the blow feilds will be required by CMS, and therefore do not need if statements -->
        <div
          class="slp-text-center slp-col-span-full slp-border slp-border-grayscale-highlight slp-rounded-md slp-p-32 slp-mb-32 slp-relative slp-w-12/12 md:slp-w-3/10 "
        >
          <% if cta.image %>
            <div class="slp-flex slp-justify-center slp-items-center slp-mb-16">
              <img
                src="<%= cta.image %>"
              />
            </div>
          <% end %>
          <h3
            class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-mb-16"
          >
            <%= cta.title %>
          </h3>
          <p
            class="slp-font-normal slp-text-grayscale-333 slp-text-base slp-leading-normal"
          >
            <%= kramdown(cta.description) %>
          </p>
          <a href="%= cta.button_url %>" class="slp-min-w-full slp-btn <%= cta.button_class %>">
            <%= cta.button_text %>
             
          </a>
          <div class="slp-flex slp-justify-center slp-items-center slp-mt-32">
            <!---->
          </div>
        </div>
      <% end %>  
    </div>
  </div>  
</section>
