<div>
  <div class="slp-block md:slp-hidden">
    <% if customer.customer_industry %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Industry
      </p>
      <p class="slp-text-xl">
        <%= customer.customer_industry %>
      </p>
    <% end %>
    <% if customer.customer_employees %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Employees
      </p>
      <p class="slp-text-xl">
        <%= customer.customer_employees %>
      </p>
    <% end %>
    <% if customer.customer_location %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Location
      </p>
      <p class="slp-text-xl">
        <%= customer.customer_location %>
      </p>
    <% end %>
    <% if customer.customer_solution %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Solution
      </p>
      <p class="slp-text-xl">
        <%= customer.customer_solution %>
      </p>
    <% end %>
    
    <% if customer.key_benefits %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Benefits
      </p>
    
      <div
        class="slp-prose slp-max-w-none"
      > 
        <%= kramdown(customer.key_benefits)  %>
      </div>
    <% end %>
  </div>

  <div class="slp-hidden md:slp-block slp-mb-64">
    <% if customer.key_benefits %>
      <p class="slp-text-xxs slp-uppercase slp-mt-16">
        Benefits
      </p>
    
      <div
        class="slp-prose slp-max-w-none"
      > 
        <%= kramdown(customer.key_benefits)  %>
      </div>
    <% end %>
  </div>
</div>